<h1>検索結果</h1>
<h2>検索条件</h2>
<% @coffee_shop_search_conditions.each do |coffee_shop_search_condition| %>
  <%= coffee_shop_search_condition %> <br>
<% end %>

<hr>

<% if @coffee_shops.blank? %>
  該当店舗なし
  <br>
<% else %>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">店舗名</th>
      </tr>
    </thead>
    <tbody>
      <% @coffee_shops.each do |coffee_shop| %>
        <tr>
          <td>
          <% if coffee_shop.images.attached? %>
            <%= image_tag coffee_shop.images.first, size: "100x100" %>
          <% else %>
            <%= image_tag "/images/coffee_shop_dummy.jpg", size: "100x100" %>
          <% end %>
          </td>
          <td><%= link_to coffee_shop.name, coffee_shop_path(coffee_shop) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>