<h1>検索結果</h1>
ヒット数：<%= @coffee_shops.count %>件
<h2>検索条件</h2>
<% @coffee_shop_search_conditions.each do |coffee_shop_search_condition| %>
  <%= coffee_shop_search_condition %> <br>
<% end %>

<hr>

<% if @coffee_shops.blank? %>
  該当店舗なし
  <br>
<% else %>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">店舗名</th>
      </tr>
    </thead>
    <tbody>
      <% @coffee_shops.each do |coffee_shop| %>
        <tr>
          <td>
          <%= render partial: 'shared/show_images', locals: { target: coffee_shop, image_size: "100x100" } %>
          </td>
          <td><%= link_to coffee_shop.name, coffee_shop_path(coffee_shop) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>