<h1>フォロワー</h1>

<hr>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ユーザー名</th>
    </tr>
  </thead>
  <tbody>
    <% @follower.each do |follower| %>
      <tr>
        <td>
        <%= render partial: 'shared/show_image', locals: { target: follower, image_size: "100x100" } %>
        </td>
        <td><%= link_to follower.name, user_path(follower.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>