<h1>フォロー</h1>

<hr>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ユーザー名</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @follow_users.each do |follow_user| %>
      <tr>
        <td>
          <%= render partial: 'shared/show_image', locals: { target: follow_user, image_size: "100x100" } %>
        </td>
        <td><%= link_to follow_user.name, user_path(follow_user.id) %></td>
        <td><%= link_to "解除", follow_user_path(follow_user, target_action: "following") %></td>
      </tr>
    <% end %>
  </tbody>
</table>