<% if notice %><p class="alert alert-success"><%= notice %></p>

<% end %>

<% if alert %>
  <% if alert.instance_of?(Array)%>
    <% alert.each do |message| %>
      <p class="alert alert-danger">
        <%= message %>
      </p>
    <% end %>
  <% else %>
    <p class="alert alert-danger">
        <%= alert %>
      </p>
  <% end %>
<% end %>