// ================
// 一番上
.shop-container {
  position: relative;
  display: inline-flex;
  width: 90%;
  z-index: 100;
  margin: 0rem 2rem;
}

.shop-name {
  padding: 3px 50px;
  font-size: 3rem;
  border: solid 1px #CC935B;
  background-color: #ffffff;
}

.like-btn {
  border-radius: 2px;
  border: solid 1px #CC935B;
  background-color: #ffffff;
  right: 0;
  position: absolute;
}

.text-like {
  color: #CC935B;
  font-size: 1rem;
}

.favorite-button {
  border-radius: 2px;
  border: solid 1px #CC935B;
  background-color: #ffffff;
  right: 0;
  position: absolute;
  top: 3rem;
}

.text-favorite {
  color: #CC935B;
  font-size: 1rem;
}
// ================

// ++++++++++++++++
// 店舗情報
.shop-info {
  position: relative;
  margin: 0rem 1rem;
}

.shop-tell {
  font-size: 2rem;
}

.shop-hp {
  font-size: 2rem;
}

.shop-insta {
  font-size: 2rem;
}

.shop-tabelog {
  font-size: 2rem;
  margin: 0, 0.1rem;
}

.shop-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 solid #dbdbdb;
  border-width: 0 1px 1px 0;
  line-height: 1.2;
  table-layout: fixed;
  width: 100%;
  word-break: break-all;
  font-size: 1.3rem;
}

.shop-table tr {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

.shop-table td {
  background: #fff;
  border: 0 solid #dbdbdb;
  border-width: 1px 0 0 1px;
  padding: 10px 12px;
}

.shop-table th {
  text-align: left;
  width: 200px;
  background: #efefef;
  border: 0 solid #dbdbdb;
  border-width: 1px 0 0 1px;
  padding: 10px 12px;
}
// ++++++++++++++++

// ----------------
// お気に入り
.liker-container {
  position: relative;
  margin: 2em auto;
  padding: 10px;
  width: 95%;
  border: 2px solid #CC935B; /* 枠線の太さ・色 */
  color: #555555; /* 文字色 */
  background-color: #f8fafc;
  box-shadow: 2px 2px 1px #c7c7c7;/* 影の色 */
  border-radius: 8px; /* 角の丸み */
  min-height: 100%;
  display: inline-flex;
  font-size: 1.2rem;
  left: 2.5%;
}

.liker-title {
  position: absolute;
  left: 20px;
  top: -26px;
  padding: 0 .5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #CC935B; /* タイトル色 */
  background-color: #f8fafc;
}

.liker-count {
  position: absolute;
  left: 147px;
  top: -26px;
  padding: 0 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #CC935B;
  background-color: #f8fafc;
}

.liker-user {
  display: inline-block;
  width: 20%;
  text-align: center;
  overflow-wrap: break-word;
}

.liker-user p {
  color: black;
  overflow-wrap: break-word;
}
// ----------------

// ################
// レビュー
.review {
  position: relative;
  color: #CC935B;
  font-size: 1.5em;
  top: -9px;
}

.review-totel-container {
  position: relative;
  border-bottom: 3px solid #CC935B;
  height: 100px;
}

.review-totel-count {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  line-height: 1;
  position: absolute;
  bottom: -1rem;
  left: 0;
  color: #CC935B;
}
.review-totel-count p {
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  bottom: -0.3rem;
  right: -47px;
  color: #CC935B;
}

.review-totel-score {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  line-height: 1;
  position: absolute;
  bottom: -1rem;
  left: 300px;
  color: #CC935B;
}

.review-totel-score p {
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  bottom: -0.3rem;
  right: -47px;
  color: #CC935B;
}

.review-container {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background: #f4f4f4;
  border-left: solid 6px #CC935B;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  min-height: 8rem;
}

.review-image {
  float: left;
}

.review-user {
  right: 6px;
  width: 10%;
  text-align: center;
  font-size: 1.1rem;
  float: right;
}

.review-score {
  right: 82px;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  line-height: 1;
  color: #CC935B;
  float: right;
}

.review-comment {
  left: 127px;
  font-size: 1.5rem;
  word-break: break-word;
  display: grid;
}

.review-date {
  position: absolute;
  right: 6px;
  bottom: 0;
  font-size: 1rem;
}

.review-delete {
  position: absolute;
  bottom: 0;
}
// ################

// $$$$$$$$$$$$$$$$
// レビュー記入
.user-review{
  margin: 0rem 1rem;
  font-size: 1rem;
}

.user-review-comment{
  min-height: 5rem;
  width: 50%;
}
// $$$$$$$$$$$$$$$$