.user-container {
  position: relative;
  margin: 1rem;
}

.user-name {
  font-size: 2.5rem;
  left: 124px;
  position: absolute;
  top: 14px;
}

.liker-btn {
  position: static;
}

.self-introduction {
  font-size: 1.5rem;
}

.user-insta {
  display: inline-flex;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.3rem;
}

.user-follow-count {
  font-size: 1rem;
  right: 0px;
  position: absolute;
  top: 75px;
  animation: purupuru_anim 1.5s infinite;
}

@keyframes purupuru_anim {
	0% {	transform: translate(0, 0);}
	5% {	transform: translate(-5px, -0);}
	10% {	transform: translate(5px, 0);}
	15% {	transform: translate(-5px, -0);}
	20% {	transform: translate(5px, 0);}
	25% {	transform: translate(-5px, -0);}
	30% {	transform: translate(0, 0);}
	100% {	transform: translate(0, 0);}
}

.user-reviews-count {
  font-size: 2rem;
  margin: 1rem;
  
}

.like-shop-info {
  bottom: -27px;
  position: absolute;
}

.user-best-shop {
  position: absolute;
  padding: 0.1em 1em;
  border: solid 3px #CC935B;
  border-radius: 8px;
  height: 7rem;
  width: 16rem;
  background-color: #FFF;
  top: -11px;
  right: 148px;
}

.best-shop-title2 {
  position: absolute;
  display: inline-block;
  top: -13px;
  right: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #CC935B;
  font-weight: bold;
}