.cover-container {
  font-size: 20px;
}

// サインイン前のヘッダー
.cover-container-befoer-sign-in {
  line-height: normal;
  letter-spacing: normal;
  background-image: url(/toppage.jpg);
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.title-text {
  margin-top: 12px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.title-sub-text {
  margin-top: 12px;
  font-size: 15px;
  text-align: center;
}

.ranking_by_area {
  #ranking {
    display: flex;
  }
  #rank_favorite {
    flex-grow: 1;
    padding: 15px;
  }
  #rank_follow {
    flex-grow: 1;
    border-left: 1px solid #929292;
    padding: 15px;
  }
  #rank_review {
    flex-grow: 1;
    border-left: 1px solid #929292;
    padding: 15px;
  }
}

.btn-prefecture {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.btn-prefecture:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

.link-text {
  text-decoration: none;
  color: #343a40;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  font-size: 18px;
}

.link-text:hover {
  background: #67c5ff;
  color: white;
}