<% if @coffee_shop.errors.any? %>
  <% binding.pry %>
  <div class = "alert">
    <ul>
      <% @coffee_shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>